serverAddr = "121.43.149.18"
serverPort = 7000
#natHoleStunServer="stun.easyvoip.com:3478"
#natHoleStunServer="stun.voipstunt.com:3478"
natHoleStunServer="stun.cheapvoip.com:3478"
[[visitors]]
name = "p2p_ssh_visitor"
type = "xtcp"
serverName = "p2p_ssh"
secretKey = "abcdefg"
bindAddr = "127.0.0.1"
bindPort = 6000
# when automatic tunnel persistence is required, set it to true
# 当需要自动保持隧道打开时，设置为 true
keep_tunnel_open = false
# 每小时尝试打开隧道的次数
# max_retries_an_hour = 8
# 重试打开隧道的最小间隔时间，单位: 秒
# min_retry_interval = 90